<div class="container">
  
  {{!-- {{#each assets}} --}}
  <div class="asset-list">
    <a href="/assets/{{id}}"><img class="img-circle" src="{{image}}" alt="{{host_name}}"></a>
  </div>
  {{!-- {{/each}} --}}
</div>