<div class="assets">
  testing
  {{#each assetts}}
  <div class="assets-list">
    <a href="/assets/{{id}}"><img src="{{image}}"><h2>{{type}}</h2><h2>{{live}}</h2>
//link, image, type, live/notlive
  </div>
{{/each}}
</div>